body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

#chatbox {
  width: 300px;
  height: 400px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#chat {
  display: flex;
    flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
}

#user-input {
  padding: 10px;
  border: none;
  outline: none;
}
/*message prep*/
.bot_answer {
  width: fit-content;
  padding: 7px 14px;
  background-color: rgba(128, 128, 128, 0.1);
  font-size: 0.85rem;
  border-radius: 20px;
}

.msgFit {
  width: fit-content;
  margin: 8px 0px;
}

.msgFit:nth-child(2n+1) {
  padding: 7px 14px;
  background-color: rgba(0, 128, 0, 0.1);
  font-size: 0.85rem;
  border-radius: 20px;
  align-self: flex-end;
}

.msgFit:nth-child(2n) {
  padding: 7px 14px;
  background-color: rgba(54, 19, 230, 0.1);
  font-size: 0.85rem;
  border-radius: 20px;
}